.floating-input {
    position: relative;
    --top-padding: 1.3rem;
    padding-top: var(--top-padding);
}

.floating-input label {
    font-size: 1em;
    position: absolute;
    opacity: .5;
    left: 6px;
    top: calc(50% + var(--top-padding) / 2);
    transform: translateY(-50%);
    cursor: text;
    transition: top, left, transform;
    transition-duration: 0.2s;
}

.floating-input input {
    padding: 5px;
    font-size: 1em;
    border: none;
}

.floating-input input::placeholder {
    opacity: 0;
}

.floating-input input:not(:placeholder-shown) + label {
    top: 0;
    left: -5px;
    transform: scale(0.75);
    z-index: 1;
}